*{
    margin: 0px;
    padding: 0px;
}
.main-heading{
    margin-top: 80px !important;
}
.con{
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);    
}
hr{
    height: 8px !important;
    background: #A0C4FC;
    width: 116px;
    border: none !important;
    border-radius: 20px !important;
}
.divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.divider-text span {
    padding: 7px;
    font-size: 12px;
    position: relative;   
    z-index: 2;
}
.divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1;
}

.btn-facebook {
    background-color: #405D9D;
    color: #fff;
}
.btn-twitter {
    background-color: #42AEEC;
    color: #fff;
}
.atext:hover{
    color: #333;
    text-decoration: none;
}